* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  margin: 0; }

.wrapper {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

nav {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ccac5b;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  nav .return_arrow {
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 0.8rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-left: 2rem; }
  nav .logo_image {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    padding-left: 2rem; }
    nav .logo_image img {
      width: 300px; }

.mission_info {
  padding: 4rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .mission_info .half_grid {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .mission_info .date_launch {
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #a7a9ac;
    margin-bottom: 2rem; }
  .mission_info .rocket_name {
    text-transform: uppercase;
    font-size: 3.5rem; }
  .mission_info .counter-rocket {
    text-transform: uppercase;
    margin-bottom: 2rem; }
  .mission_info h4 {
    color: #ccac5b;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 100; }
  .mission_info hr {
    border: 0;
    border-top: 2px solid #ccac5b; }

.mission_menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(rocket.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
  min-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff; }
  .mission_menu .mission_content {
    width: 100%; }
  .mission_menu h3 {
    text-align: center;
    color: #fff;
    width: 100%;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 25px;
    font-weight: 200; }
  .mission_menu .mission_links {
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .mission_menu .mission_links a {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin: 0 1rem;
      padding: 1rem 2rem;
      display: block;
      text-decoration: none;
      font-size: 1rem;
      border: 1px solid #ffffff;
      border-radius: 2em; }

footer {
  font-size: .8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 3rem 4rem;
  background: #22272b;
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  footer div {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  footer .links-media span:after {
    content: "|";
    padding-left: .5em; }
  footer .copyright {
    text-align: right; }
  footer a {
    color: #a5a7ab;
    text-decoration: none;
    margin-right: 0.5em; }

main .wrap-counter-running {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: .5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

main .wrap-counter-stoped {
  @extends %wrap-counter-running;
  background-color: #FF9800; }

main .header, main .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }


/*# sourceMappingURL=main.css.map*/