.launchesList
	&__item
		color: #fff
		margin: 1em
		text-transform: uppercase
		font-size: 1.1rem
		letter-spacing: 10px
		display: flex
		flex-direction: column
		width: 48%
		box-sizing: border-box
		padding: 1em
		border: 1px solid transparent
		.launchesList__underline
			width: 100%
			height: 3px
			border: none
			background: #ccac5b
			position: relative
			display: block
			margin: 1em 0
		&:nth-child(even)
			align-self: flex-start
			.launchesList__underline:after
				content: " "
				position: absolute
				border-style: solid
				border-width: 7px 0px 7px 7px
				border-color: transparent #ccac5b
				display: block
				width: 0
				z-index: 1
				top: -5px
				right: -7px
			.launchesList__underline:before
				content: '\25CF'
				position: absolute
				color: #666
				display: block
				z-index: 1
				top: -8px
				right: -58px
		&:nth-child(odd)
			align-self: flex-end
			.launchesList__underline:before
				border-style: solid
				content: " "
				position: absolute
				border-width: 7px 7px 7px 0px
				border-color: transparent #ccac5b
				display: block
				width: 0
				z-index: 1
				top: -5px
				left: -7px
			.launchesList__underline:after
				content: '\25CF'
				position: absolute
				color: #666
				display: block
				z-index: 1
				top: -7px
				left: -49px
			.launchesList__information, .launchesList__date
				align-self: flex-end
		&:hover
			cursor: pointer
			border: 1px solid #fff
			box-shadow: inset 0px 0px 10px 2px #fff
			transition: .4s ease-in-out
	&__information
		color: #a7a9ac
		letter-spacing: 1px
		display: flex
		max-width: 100%
		white-space: nowrap
	&__nameValue
		color: #fff
		margin-left: 5px
		margin-right: 5px
	&__siteValue
		color: #fff
		text-overflow: ellipsis
		overflow: hidden
		white-space: nowrap
		max-width: 280px
		margin-left: 5px
