.launchesList
	margin: 0
	padding: 0
	box-sizing: border-box
	background: #000
	padding-top: 150px
	&__header
		box-sizing: border-box
		background-image: url('../assets/moon.png')
		background-repeat: no-repeat
		background-size: contain
		background-position: center
		width: 100%
		overflow: hidden
		min-height: 550px
		display: flex
		flex-direction: column
		justify-content: flex-end
		align-items: center
		flex-wrap: wrap
		color: #a7a9ac
	&__logo
		padding-left: 2rem
		img
			max-width: 800px
		figcaption
			text-transform: uppercase
			text-align: center
			font-size: 2rem
			font-weight: 100
			letter-spacing: 20px
	&__nav
		margin-top: 50px
		background-color: transparent
		display: flex
		justify-content: center
		flex-wrap: wrap
		flex-direction: row
		margin-bottom: 1rem
		a
			text-transform: uppercase
			cursor: pointer
			color: #a7a9ac
			letter-spacing: 5px
			font-weight: 500
			margin: 0 1rem
			padding: 1rem 2rem
			display: block
			font-size: 1rem
			border: 1px solid #a7a9ac
			border-radius: 2em
			transition: .4s ease-in-out
			&:hover
				color: #fff
				border: 1px solid #fff
				box-shadow: inset 0px 0px 10px 2px #fff